.container {
  min-height: 100%;
  min-width: 100%;
}

.loading-spinner-container {
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.bold-text {
  font-weight: bold;
}

td:last-child {
  text-align: right;
}


tr.mat-row.highlight-row {
  background-color: #31BF5D;
}

.alternate-row:nth-child(even) {
  background-color: #FAFAFA;
}

.alternate-row:nth-child(odd) {
  background-color: #FFFFFF;
}